<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Data.wxi ?>

  <Product Id="*" Name="$(var.name)" Language="1033" Version="$(var.version)" Manufacturer="$(var.company)" UpgradeCode="040E1B1F-AC35-4CC4-A20A-0287F55E2FF0">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="$(var.name)" Title="$(var.name)" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="BackgroundAlbionComponents" />
      <ComponentGroupRef Id="HeroSpriteComponents" />
      <ComponentGroupRef Id="LlewellaSpriteComponents" />
      <ComponentGroupRef Id="CursorSpriteComponents" />
      <ComponentGroupRef Id="FontComponents" />
      <ComponentGroupRef Id="TopBarComponents" />
      <ComponentGroupRef Id="VerbBarComponents" />
      <ComponentGroupRef Id="BentSwordComponents" />
      <ComponentGroupRef Id="ProductDocuments" />
      <ComponentGroupRef Id="StartMenuComponents" />
    </Feature>

    <Icon Id="Icon.ico" SourceFile="$(var.Hero6.WindowsDX.ProjectDir)Icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER"/>
    <UIRef Id="WixUI_InstallDir"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="COMPANYFOLDER" Name="$(var.company)">
          <Directory Id="INSTALLFOLDER" Name="$(var.name)">
            <Directory Id="CONTENTFOLDER" Name="Content">
              <Directory Id="BACKGROUNDSFOLDER" Name="Backgrounds">
                <Directory Id="ALBIONFOLDER" Name="Albion"/>
              </Directory>
              <Directory Id="GUIFOLDER" Name="Gui">
                <Directory Id="SIERRAVGAFOLDER" Name="SierraVga">
                  <Directory Id="CURSORSFOLDER" Name="Cursors"/>
                  <Directory Id="FONTSFOLDER" Name="Fonts"/>
                  <Directory Id="TOPBARFOLDER" Name="Top Bar"/>
                  <Directory Id="VERBBARFOLDER" Name="Verb Bar"/>
                </Directory>
              </Directory>
              <Directory Id="SPRITESFOLDER" Name="Sprites">
                <Directory Id="CHARACTERSFOLDER" Name="Characters">
                  <Directory Id="HEROFOLDER" Name="Hero"/>
                  <Directory Id="NPCSFOLDER" Name="NPCs">
                    <Directory Id="LLEWELLAFOLDER" Name="Llewella"/>
                  </Directory>
                </Directory>
                <Directory Id="OBJECTSFOLDER" Name="Objects">
                  <Directory Id="PICKUPSFOLDER" Name="Pick-Up">
                    <Directory Id="BENTSWORDFOLDER" Name="Bent Sword"/>
                  </Directory>
                </Directory>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.name)"/>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="$(var.name).exe" Guid="F9913C3D-BFC7-43B9-B50C-5023F8802C32">
        <File Id="$(var.name).exe" Name="$(var.name).exe" Source="$(var.Hero6.WindowsDX.TargetDir)$(var.name).exe" />
      </Component>
      <Component Id="AdventureGame.dll" Guid="3A0BB201-A128-4383-9C4D-6BEC6A3168EF">
        <File Id="AdventureGame.dll" Name="AdventureGame.dll" Source="$(var.Hero6.WindowsDX.TargetDir)AdventureGame.dll" />
      </Component>
      <Component Id="Collections.dll" Guid="D51AE974-B17B-4718-9524-B73AAF967D57">
        <File Id="Collections.dll" Name="Collections.dll" Source="$(var.Hero6.WindowsDX.TargetDir)Collections.dll" />
      </Component>
      <Component Id="EmptyKeys.UserInterface.Core.dll" Guid="3AF32F96-2660-4CF6-B9ED-AB0F7A42A078">
        <File Id="EmptyKeys.UserInterface.Core.dll" Name="EmptyKeys.UserInterface.Core.dll" Source="$(var.Hero6.WindowsDX.TargetDir)EmptyKeys.UserInterface.Core.dll" />
      </Component>
      <Component Id="EmptyKeys.UserInterface.Debug.dll" Guid="440E11FA-2C16-4090-8E43-92BE4738A828">
        <File Id="EmptyKeys.UserInterface.Debug.dll" Name="EmptyKeys.UserInterface.Debug.dll" Source="$(var.Hero6.WindowsDX.TargetDir)EmptyKeys.UserInterface.Debug.dll" />
      </Component>
      <Component Id="EmptyKeys.UserInterface.dll" Guid="F6CD12E7-612A-4110-BB6C-E6043CEEF8E2">
        <File Id="EmptyKeys.UserInterface.dll" Name="EmptyKeys.UserInterface.dll" Source="$(var.Hero6.WindowsDX.TargetDir)EmptyKeys.UserInterface.dll" />
      </Component>
      <Component Id="EmptyKeys.UserInterface.MonoGame.dll" Guid="2FAA3A17-0E10-49E0-9987-E927B525DB5F">
        <File Id="EmptyKeys.UserInterface.MonoGame.dll" Name="EmptyKeys.UserInterface.MonoGame.dll" Source="$(var.Hero6.WindowsDX.TargetDir)EmptyKeys.UserInterface.MonoGame.dll" />
      </Component>
      <Component Id="Hero6.Campaigns.RitesOfPassage.dll" Guid="18F3A607-8EB1-4EC9-8C3A-B95FD03C8284">
        <File Id="Hero6.Campaigns.RitesOfPassage.dll" Name="Hero6.Campaigns.RitesOfPassage.dll" Source="$(var.Hero6.WindowsDX.TargetDir)Hero6.Campaigns.RitesOfPassage.dll" />
      </Component>
      <Component Id="Hero6.UserInterface.SierraVGA.dll" Guid="F8978BBA-3A8F-483F-B993-0FD10333C303">
        <File Id="Hero6.UserInterface.SierraVGA.dll" Name="Hero6.UserInterface.SierraVGA.dll" Source="$(var.Hero6.WindowsDX.TargetDir)Hero6.UserInterface.SierraVGA.dll" />
      </Component>
      <Component Id="MonoGame.Framework.dll" Guid="ECF67526-8E9B-4AF4-B6A4-E7EE8B657A03">
        <File Id="MonoGame.Framework.dll" Name="MonoGame.Framework.dll" Source="$(var.Hero6.WindowsDX.TargetDir)MonoGame.Framework.dll" />
      </Component>
      <Component Id="PriorityQueue.dll" Guid="41A758FA-A5C7-4D0E-9443-DBFEC177DFBA">
        <File Id="PriorityQueue.dll" Name="Priority Queue.dll" Source="$(var.Hero6.WindowsDX.TargetDir)Priority Queue.dll" />
      </Component>
      <Component Id="Search.dll" Guid="5BDFA690-0D91-4DAB-A3BA-290B074A9D11">
        <File Id="Search.dll" Name="Search.dll" Source="$(var.Hero6.WindowsDX.TargetDir)Search.dll" />
      </Component>
      <Component Id="SharpDX.Direct2D1.dll" Guid="9C81DFB9-679A-4917-A86F-C20E5FDF2BFC">
        <File Id="SharpDX.Direct2D1.dll" Name="SharpDX.Direct2D1.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.Direct2D1.dll" />
      </Component>
      <Component Id="SharpDX.Direct3D9.dll" Guid="6987C9DD-05A2-4256-AB46-595B72806198">
        <File Id="SharpDX.Direct3D9.dll" Name="SharpDX.Direct3D9.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.Direct3D9.dll" />
      </Component>
      <Component Id="SharpDX.Direct3D11.dll" Guid="1990D2D6-9C9C-425D-A209-324B4E5644DB">
        <File Id="SharpDX.Direct3D11.dll" Name="SharpDX.Direct3D11.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.Direct3D11.dll" />
      </Component>
      <Component Id="SharpDX.dll" Guid="350E11D6-02E1-4C8D-8AA6-30ED91AE0415">
        <File Id="SharpDX.dll" Name="SharpDX.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.dll" />
      </Component>
      <Component Id="SharpDX.DXGI.dll" Guid="4DEF8B6B-0EF3-4F72-85AA-43D519E05637">
        <File Id="SharpDX.DXGI.dll" Name="SharpDX.DXGI.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.DXGI.dll" />
      </Component>
      <Component Id="SharpDX.MediaFoundation.dll" Guid="D1B744F6-5B13-43DD-A896-2FF05234EC55">
        <File Id="SharpDX.MediaFoundation.dll" Name="SharpDX.MediaFoundation.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.MediaFoundation.dll" />
      </Component>
      <Component Id="SharpDX.RawInput.dll" Guid="6FFF92CB-DE40-4901-8C3F-FEF8BD98C808">
        <File Id="SharpDX.RawInput.dll" Name="SharpDX.RawInput.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.RawInput.dll" />
      </Component>
      <Component Id="SharpDX.XAudio2.dll" Guid="4F550EA1-8FDD-4A04-8B9C-106CD85CACEB">
        <File Id="SharpDX.XAudio2.dll" Name="SharpDX.XAudio2.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.XAudio2.dll" />
      </Component>
      <Component Id="SharpDX.XInput.dll" Guid="06D1AE0F-834D-473F-8238-8250CEEE6D75">
        <File Id="SharpDX.XInput.dll" Name="SharpDX.XInput.dll" Source="$(var.Hero6.WindowsDX.TargetDir)SharpDX.XInput.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="BackgroundAlbionComponents" Directory="ALBIONFOLDER">
      <Component Id="Fountain.xnb" Guid="854EB704-A451-4D02-9E2B-70AFE6C4951A">
        <File Id="Fountain.xnb" Name="Fountain.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Backgrounds/Albion/Fountain.xnb" />
      </Component>
      <Component Id="FountainRegions.xnb" Guid="364FAA8D-B7B5-40B4-9EFD-ECE7FCECB69C">
        <File Id="FountainRegions.xnb" Name="FountainRegions.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Backgrounds/Albion/FountainRegions.xnb" />
      </Component>
      <Component Id="FountainWalkArea.xnb" Guid="C0FD1FE4-B995-412E-AF75-32A622082B86">
        <File Id="FountainWalkArea.xnb" Name="FountainWalkArea.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Backgrounds/Albion/FountainWalkArea.xnb" />
      </Component>
      <Component Id="HillOverAlbion.xnb" Guid="4578D284-EDC7-4777-8D21-A75ED667CE16">
        <File Id="HillOverAlbion.xnb" Name="HillOverAlbion.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Backgrounds/Albion/HillOverAlbion.xnb" />
      </Component>
      <Component Id="HillOverAlbionRegions.xnb" Guid="2650AB1B-9B52-4DD2-A223-43E3B39DB8AF">
        <File Id="HillOverAlbionRegions.xnb" Name="HillOverAlbionRegions.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Backgrounds/Albion/HillOverAlbionRegions.xnb" />
      </Component>
      <Component Id="HillOverAlbionWalkArea.xnb" Guid="93D2EF76-6855-4C36-8D13-D4B39D69B91C">
        <File Id="HillOverAlbionWalkArea.xnb" Name="HillOverAlbionWalkArea.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Backgrounds/Albion/HillOverAlbionWalkArea.xnb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="HeroSpriteComponents" Directory="HEROFOLDER">
      <Component Id="HeroWalkCenterDown.xnb" Guid="907A000C-366D-4DBF-8D0E-95C6D5CDAC02">
        <File Id="HeroWalkCenterDown.xnb" Name="HeroWalkCenterDown.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkCenterDown.xnb" />
      </Component>
      <Component Id="HeroWalkCenterUp.xnb" Guid="7186B1B4-A527-4249-AB9F-B57C28A4775A">
        <File Id="HeroWalkCenterUp.xnb" Name="HeroWalkCenterUp.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkCenterUp.xnb" />
      </Component>
      <Component Id="HeroWalkLeftCenter.xnb" Guid="5A2F917D-0C80-4D68-A767-BC978660A02A">
        <File Id="HeroWalkLeftCenter.xnb" Name="HeroWalkLeftCenter.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkLeftCenter.xnb" />
      </Component>
      <Component Id="HeroWalkLeftDown.xnb" Guid="7D83611D-B71C-410D-920E-C40662BCB874">
        <File Id="HeroWalkLeftDown.xnb" Name="HeroWalkLeftDown.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkLeftDown.xnb" />
      </Component>
      <Component Id="HeroWalkLeftUp.xnb" Guid="B706A440-90CD-48CA-AEB7-0A141441C2BC">
        <File Id="HeroWalkLeftUp.xnb" Name="HeroWalkLeftUp.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkLeftUp.xnb" />
      </Component>
      <Component Id="HeroWalkRightCenter.xnb" Guid="E71A7DE6-C8B6-4C7B-A4CA-7F8FC2964EE4">
        <File Id="HeroWalkRightCenter.xnb" Name="HeroWalkRightCenter.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkRightCenter.xnb" />
      </Component>
      <Component Id="HeroWalkRightDown.xnb" Guid="2FC4E0E1-4EDF-4D6F-A01E-73FD4DFCE4FB">
        <File Id="HeroWalkRightDown.xnb" Name="HeroWalkRightDown.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkRightDown.xnb" />
      </Component>
      <Component Id="HeroWalkRightUp.xnb" Guid="206F32B7-F8FE-4FC6-B549-53373281D593">
        <File Id="HeroWalkRightUp.xnb" Name="HeroWalkRightUp.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/Hero/HeroWalkRightUp.xnb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="LlewellaSpriteComponents" Directory="LLEWELLAFOLDER">
      <Component Id="LlewellaWalkCenterDown.xnb" Guid="C46A8EE9-2EE2-4BEC-BBD6-E202645684A3">
        <File Id="LlewellaWalkCenterDown.xnb" Name="LlewellaWalkCenterDown.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Characters/NPCs/Llewella/LlewellaWalkCenterDown.xnb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="CursorSpriteComponents" Directory="CURSORSFOLDER">
      <Component Id="Arrow.xnb" Guid="13A2726A-12BC-4252-ACAB-0B4872F4D8C8">
        <File Id="Arrow.xnb" Name="Arrow.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Cursors/Arrow.xnb" />
      </Component>
      <Component Id="Hand.xnb" Guid="76CC1913-2C30-49D4-8CB4-6BFA2D12A6C6">
        <File Id="Hand.xnb" Name="Hand.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Cursors/Hand.xnb" />
      </Component>
      <Component Id="Look.xnb" Guid="A065344B-F32C-47F0-8861-8D403CDF9628">
        <File Id="Look.xnb" Name="Look.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Cursors/Look.xnb" />
      </Component>
      <Component Id="Talk.xnb" Guid="8B77D6B9-EDCC-49AD-9B15-7AA5C7A1413E">
        <File Id="Talk.xnb" Name="Talk.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Cursors/Talk.xnb" />
      </Component>
      <Component Id="Wait.xnb" Guid="4F7F02F3-51D8-4335-BDB3-7BBE2D33C645">
        <File Id="Wait.xnb" Name="Wait.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Cursors/Wait.xnb" />
      </Component>
      <Component Id="Walk.xnb" Guid="B2CA1920-A174-4548-983F-244047FF1C19">
        <File Id="Walk.xnb" Name="Walk.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Cursors/Walk.xnb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="FontComponents" Directory="FONTSFOLDER">
      <Component Id="Arial_11.25_Regular.xnb" Guid="7DCCCE3F-8701-47C3-BEB0-29281BE2A565">
        <File Id="Arial_11.25_Regular.xnb" Name="Arial_11.25_Regular.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Fonts/Arial_11.25_Regular.xnb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="TopBarComponents" Directory="TOPBARFOLDER">
      <Component Id="Background.xnb" Guid="228CC8E0-1C16-47CD-9980-B25BEFA705A5">
        <File Id="Background.xnb" Name="Background.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Top Bar/Background.xnb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="VerbBarComponents" Directory="VERBBARFOLDER">
      <Component Id="CurrentItemDark.xnb" Guid="E6A8484C-9AD2-461C-BE3A-1FBBC2D88C0C">
        <File Id="CurrentItemDark.xnb" Name="Current Item Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Current Item Dark.xnb" />
      </Component>
      <Component Id="CurrentItemLight.xnb" Guid="CBCA112A-158D-4123-84E3-41C3C334F8DA">
        <File Id="CurrentItemLight.xnb" Name="Current Item Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Current Item Light.xnb" />
      </Component>
      <Component Id="HandDark.xnb" Guid="16E8D2A1-BC9D-4715-8687-A2E408248263">
        <File Id="HandDark.xnb" Name="Hand Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Hand Dark.xnb" />
      </Component>
      <Component Id="HandLight.xnb" Guid="246BA46E-66BA-4F06-AD66-3E2953930F55">
        <File Id="HandLight.xnb" Name="Hand Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Hand Light.xnb" />
      </Component>
      <Component Id="InventoryDark.xnb" Guid="B100B200-9860-4ACF-8EA4-2D5FFF547AEE">
        <File Id="InventoryDark.xnb" Name="Inventory Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Inventory Dark.xnb" />
      </Component>
      <Component Id="InventoryLight.xnb" Guid="19E71D8C-1C81-4469-B41B-00CD41D3DB34">
        <File Id="InventoryLight.xnb" Name="Inventory Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Inventory Light.xnb" />
      </Component>
      <Component Id="LookDark.xnb" Guid="28F7EA93-FAC9-486D-B014-32BF9F7B13BF">
        <File Id="LookDark.xnb" Name="Look Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Look Dark.xnb" />
      </Component>
      <Component Id="LookLight.xnb" Guid="0F2BB163-746D-4EED-9214-1F587CEC12BB">
        <File Id="LookLight.xnb" Name="Look Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Look Light.xnb" />
      </Component>
      <Component Id="MagicDark.xnb" Guid="C4E2A024-BC92-41A4-81B3-49B5BD0A1EAB">
        <File Id="MagicDark.xnb" Name="Magic Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Magic Dark.xnb" />
      </Component>
      <Component Id="MagicLight.xnb" Guid="73C6A168-27D6-436A-8681-93B212138E62">
        <File Id="MagicLight.xnb" Name="Magic Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Magic Light.xnb" />
      </Component>
      <Component Id="OptionsDark.xnb" Guid="A5284739-2208-4C76-B423-F19B3812D5B6">
        <File Id="OptionsDark.xnb" Name="Options Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Options Dark.xnb" />
      </Component>
      <Component Id="OptionsLight.xnb" Guid="A24F6F02-7074-4337-A0AA-3205B0BC8D0A">
        <File Id="OptionsLight.xnb" Name="Options Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Options Light.xnb" />
      </Component>
      <Component Id="SideLeft.xnb" Guid="9D8ADE41-71AF-479B-8464-822811259427">
        <File Id="SideLeft.xnb" Name="Side Left.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Side Left.xnb" />
      </Component>
      <Component Id="SideRight.xnb" Guid="9EDB25F2-4FCF-4844-BB56-478C6EE224B7">
        <File Id="SideRight.xnb" Name="Side Right.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Side Right.xnb" />
      </Component>
      <Component Id="SubMenuDark.xnb" Guid="B46767E2-613A-4F47-802B-216D05FA21F3">
        <File Id="SubMenuDark.xnb" Name="Sub Menu Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Sub Menu Dark.xnb" />
      </Component>
      <Component Id="SubMenuLight.xnb" Guid="9844C7FA-C8E8-45BD-8584-1B2E6487E7AC">
        <File Id="SubMenuLight.xnb" Name="Sub Menu Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Sub Menu Light.xnb" />
      </Component>
      <Component Id="TalkDark.xnb" Guid="1BAB460E-F90F-46BE-8F22-617194D4582F">
        <File Id="TalkDark.xnb" Name="Talk Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Talk Dark.xnb" />
      </Component>
      <Component Id="TalkLight.xnb" Guid="EFFFDCE3-4455-4033-A1E2-B5BBAC68FC77">
        <File Id="TalkLight.xnb" Name="Talk Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Talk Light.xnb" />
      </Component>
      <Component Id="WalkDark.xnb" Guid="81CCF24A-9FC7-4E47-B814-2DE2EE0D2675">
        <File Id="WalkDark.xnb" Name="Walk Dark.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Walk Dark.xnb" />
      </Component>
      <Component Id="WalkLight.xnb" Guid="99281FF2-0ECF-41E5-95F9-2760979A488D">
        <File Id="WalkLight.xnb" Name="Walk Light.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Gui/SierraVga/Verb Bar/Walk Light.xnb" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="BentSwordComponents" Directory="BENTSWORDFOLDER">
      <Component Id="BentSword.xnb" Guid="36969BB5-CEEE-4DFF-8C9B-60679F5C28CD">
        <File Id="BentSword.xnb" Name="BentSword.xnb" Source="$(var.Hero6.WindowsDX.TargetDir)Content/Sprites/Objects/Pick-Up/Bent Sword/BentSword.xnb" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductDocuments" Directory="INSTALLFOLDER">
      <Component Id="CHANGELOG.md" Guid="DBCE60A6-4B0B-43B6-B88C-7E0B38C61D26">
        <File Id="CHANGELOG.md" Name="CHANGELOG.md" Source="$(var.Hero6.WindowsDX.TargetDir)CHANGELOG.md" />
      </Component>
      <Component Id="COPYRIGHT.md" Guid="6A7054EA-ABE5-4CAF-B644-98EA41E2AEB1">
        <File Id="COPYRIGHT.md" Name="COPYRIGHT.md" Source="$(var.Hero6.WindowsDX.TargetDir)COPYRIGHT.md" />
      </Component>
      <Component Id="LICENSE.ASSETS.md" Guid="8EE33643-CBAE-4D46-A8E3-E4E7F6610BE4">
        <File Id="LICENSE.ASSETS.md" Name="LICENSE.ASSETS.md" Source="$(var.Hero6.WindowsDX.TargetDir)LICENSE.ASSETS.md" />
      </Component>
      <Component Id="LICENSE.CODE.md" Guid="A02820ED-37D7-4A29-BFAD-184FD61D29F0">
        <File Id="LICENSE.CODE.md" Name="LICENSE.CODE.md" Source="$(var.Hero6.WindowsDX.TargetDir)LICENSE.CODE.md" />
      </Component>
      <Component Id="LICENSE.md" Guid="B477AEC8-3BCC-4B9D-BBCC-16EA42BC63D4">
        <File Id="LICENSE.md" Name="LICENSE.md" Source="$(var.Hero6.WindowsDX.TargetDir)LICENSE.md" />
      </Component>
      <Component Id="LICENSE.THIRDPARTY.md" Guid="E43C4CDF-C5C9-4729-90B7-DB03AE02E57A">
        <File Id="LICENSE.THIRDPARTY.md" Name="LICENSE.THIRDPARTY.md" Source="$(var.Hero6.WindowsDX.TargetDir)LICENSE.THIRDPARTY.md" />
      </Component>
      <Component Id="README.md" Guid="6041D9C1-5E76-4E7A-88A4-EADDA9875014">
        <File Id="README.md" Name="README.md" Source="$(var.Hero6.WindowsDX.TargetDir)README.md" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="StartMenuComponents" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcuts" Guid="A57B2622-070A-455E-A0E3-41E43DB80075">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="$(var.name)" Description="$(var.name).exe shortcut" Target="[!$(var.name).exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\$(var.company)\$(var.name)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
