# EditorConfig is awesome: http://EditorConfig.org

root = true

# Any files
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
charset = utf-8

# C# code files
[*.cs]
indent_style = space
indent_size = 4

# F# script files
indent_style = space
indent_size = 4

[*.fx]
indent_style = tab
indent_size = 2

# WiX code files
[*.{wxs,wxi,wxl}]
indent_style = space
indent_size = 2

# Batch script
[*.{bat,cmd}]
indent_style = space
indent_size = 2

# Shell script
[*.sh]
indent_style = space
indent_size = 2
