# Build steps

steps:
# Restore packages
- task: DotNetCoreCLI@2
  displayName: Restore Packages
  inputs:
    command: 'restore'
    projects: './src/Hero6.sln'

# Build the Hero6 engine
- task: DotNetCoreCLI@2
  displayName: Build MonoGame Pipeline Extensions
  inputs:
    command: 'build'
    projects: './src/Hero6.Engine.Desktop/Hero6.Engine.Desktop.csproj'
    arguments: '-c $(BuildConfiguration) --no-restore'

# Build assets
- task: DotNetCoreCLI@2
  displayName: Build Assets
  inputs:
    command: 'custom'
    custom: 'mgcb'
    arguments: '/@:Hero6.Content.mgcb /platform:DesktopGL'
    workingDirectory: 'src/Hero6.Content'

# Build the Hero6 source code
- task: DotNetCoreCLI@2
  displayName: Build Hero6
  inputs:
    command: 'build'
    projects: './src/Hero6.sln'
    arguments: '-c $(BuildConfiguration) --no-restore'
