# Install steps

steps:
# git lfs pull
- bash: cd assets && git lfs install && git lfs pull
  displayName: git lfs pull

# Install dotnet SDK
- task: UseDotNet@2
  inputs:
    packageType: 'sdk'
    useGlobalJson: true
    workingDirectory: './src'

# Install Paket
- bash: dotnet tool install --global Paket --version 5.236.2
  displayName: Install Paket
