<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Hero6" Description="General rule set for Hero6." ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1028" Action="Info" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1127" Action="None" />
    <Rule Id="SA1128" Action="None" />
    <Rule Id="SA1642" Action="None" />
  </Rules>
</RuleSet>
