source https://nuget.org/api/v2

nuget Eto.Forms
nuget Eto.Platform.Gtk
nuget log4net
nuget Microsoft.NET.Test.Sdk
nuget MonoGame.Content.Builder
nuget MonoGame.Framework.Content.Pipeline.Portable
nuget MonoGame.Framework.DesktopGL
nuget MonoGame.Framework.DesktopGL.Core
nuget Newtonsoft.Json
nuget NSubstitute
nuget NUnit
nuget NUnit.Runners
nuget NUnit3TestAdapter
nuget OptimizedPriorityQueue
nuget StyleCop.Analyzers
