version 5.236.2
storage: none
framework: auto-detect
strategy: min // Newest version of many packages are incompatible with netcore apps
source https://api.nuget.org/v3/index.json

nuget BenchmarkDotNet
nuget Microsoft.NET.Test.Sdk
nuget MonoGame.Content.Builder.Task
nuget MonoGame.Framework.Content.Pipeline copy_local: true
nuget MonoGame.Framework.DesktopGL
nuget Newtonsoft.Json
nuget NLog.Extensions.Logging
nuget NSubstitute
nuget NSubstitute.Analyzers.CSharp
nuget NUnit
nuget NUnit.Runners
nuget NUnit3TestAdapter
nuget OptimizedPriorityQueue
nuget SixLabors.ImageSharp
nuget StyleCop.Analyzers
// Locking to v5.x because 6.x creates compilation errors on netcore apps
nuget Microsoft.Extensions.Hosting 5.0.0
nuget System.Diagnostics.EventLog 5.0.1 // Transitive dependency to Microsoft.Extensions.Hosting