source https://nuget.org/api/v2

nuget Eto.Forms
nuget Eto.Platform.Gtk
nuget Eto.Platform.Gtk3
nuget Eto.Platform.Wpf
nuget log4net
nuget MonoGame.Content.Builder
nuget MonoGame.Framework.Content.Pipeline.Portable
nuget MonoGame.Framework.DesktopGL
nuget NSubstitute
nuget NUnit
nuget NUnit.Runners
nuget NUnit3TestAdapter
nuget OptimizedPriorityQueue
nuget StyleCop.Analyzers
